.adminWrapper {
  padding-left: 280px;
  color: #fff;
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 280px;
    background: #232323;
    height: 100vh;
    ul {
      padding: 0;
      height: 100%;
      li {
        padding: 0;
        background: transparent;

        &.end {
          margin-top: auto;
          text-align: center;
          font-weight: 600;
          a {
            font-size: 13px;
            text-transform: uppercase;
            background: #444;
          }
        }
        a {
          display: block;
          font-size: 15px;
          color: #fff;
          padding: 10px 15px;
          font-weight: 500;
          border-bottom: 1px solid #333;
          transition: all 0.3s ease 0s;
          text-decoration: none;
          &:hover,
          &.active {
            background: #444;
          }
        }
      }
    }
  }
  main {
    min-height: 100vh;
    background: #242627;
    padding: 15px 50px;
  }

  .card {
    background-color: #333030;
    border: 1px solid rgb(63, 60, 60);
  }

  // customize form view
  .form-control {
    background: #4a4444;
    border: 1px solid #5e6164;
    color: #fff;
  }

  .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(61, 102, 146, 0.25);
  }
  .form-control::placeholder {
    color: rgb(179, 170, 170);
  }
}

.w-md-editor {
  height: unset !important;
}
.w-md-editor-content {
  height: calc(100vh - 200px)!important;
  min-height: 500px!important;
}
