$bodyBgColor: #fff;
$bodyTextColor: #232323;

$primaryTextColor: #222;
$grayColor: #e5e0e0;
$reverseColor: #fff;

$heroBgColor: $bodyTextColor;
$heroTextColor: $reverseColor;

$menusBorderColor: rgba(0, 0, 0, 0.16);
