@import url("https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import "./colors.scss";
@import "./fonts";
@import "./variables";
@import "./default_classes.scss";

body {
  margin: 0;
  font-family: $fontBasic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bodyBgColor;
  color: $bodyTextColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontScondary;
}

code {
  font-family: $fontScondary;
}
img {
  max-width: 100%;
}
// home page css

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1340px;
  }
}

.heroArea {
  position: relative;
  padding: 100px 0;
  min-height: 400px;
  margin-bottom: 10rem;
  border-bottom: 1px solid $menusBorderColor;
  background-color: $heroBgColor;
  color: $heroTextColor;
  .authorImageArea {
    display: flex;
    .authorImage {
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        left: -$cicleBorderWidth;
        top: -$cicleBorderWidth;
        height: $authorImageContentWidth;
        width: $authorImageContentWidth;
        z-index: 9;
        border-radius: 50%;
        border: $cicleBorderWidth double $circleBorderColor;
        border-right-color: transparent;
        border-left-color: transparent;
        animation: rotatecontinues infinite 3s ease-in-out forwards;
      }
      img {
        overflow: hidden;
        animation: rotatey infinite 2s ease-in-out forwards;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        filter: blur(0px);
        transition: all 0.3s ease-in-out 0s;
        &:hover {
          filter: blur(3px);
        }
      }
    }
  }
  .heroContent {
    h2 {
      font-size: 4rem;
      text-transform: uppercase;
      text-shadow: 1px 8px 5px #fff;
      animation: shadowdeep 12s linear 0s infinite;
    }
    p {
      margin-top: 2rem;
      font-size: 1rem;
      line-height: 1.4rem;
      color: #e4d9d9;
      font-weight: 100;
      font-family: $fontScondary;
      // letter-spacing: 0.1rem;
      animation: shadow 1s ease-in-out 0s forwards;
    }
  }
}

@keyframes shadowdeep {
  0% {
    text-shadow: 1px 8px 50px #fff;
  }
  25% {
    text-shadow: 20px 0 15px #fff;
  }
  50% {
    text-shadow: -10px -10px 50px #fff;
  }
  90% {
    text-shadow: 10px 15px 15px #fff;
  }
  100% {
    text-shadow: 1px 8px 50px #fff;
  }
}

@keyframes shadow {
  0% {
    text-shadow: -4px 10px 10px #fff;
  }
  100% {
    text-shadow: 0 0 0 #fff;
  }
}

@keyframes rotatecontinues {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotatey {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// menusArea
.menusArea {
  position: absolute;
  left: 0;
  top: 100%;
  text-align: center;
  width: 100%;
  ul {
    margin-top: 10px;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -20px;
      top: -10px;
      height: calc(50% + 10px);
      width: 1px;
      border-left: 1px solid $menusBorderColor;
    }
    &::after {
      content: "";
      position: absolute;
      left: -20px;
      top: 50%;
      height: 1px;
      width: 20px;
      border-bottom: 1px solid $menusBorderColor;
    }
    li {
      display: inline-block;
      margin-right: 50px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        width: 50px;
        // transform: skewY(12deg);
        border-top: 1px solid $menusBorderColor;
      }
      &:last-child::before {
        display: none;
      }
      a {
        display: inline-block;
        border: 1px solid $grayColor;
        padding: 5px 20px;
        font-size: 0.8rem;
        font-family: $fontScondary;
        text-transform: uppercase;
        color: $primaryTextColor;
        &.active {
          border-color: $grayColor;
          background: $themeColor;
          color: $reverseColor;
        }
      }
    }
    // @for $i from 1 through 3 {
    //   li:nth-child(#{$i + 1}) {
    //     transform: translateY($i * 10px);
    //   }
    // }
  }
}

.sectionTitle {
  margin-bottom: 5rem;
  &.bdb {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 3px;
  }
  h2 {
    font-size: 1rem;
    font-family: $fontBasic;
    text-transform: uppercase;
  }
}

.card {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.03);
  transition: all 0.3s ease 0s;
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  }
}

.postTitle {
  margin-bottom: 1.2rem;
  h2 {
    font-size: 1rem;
    font-family: $fontBasic;
    position: relative;
    color: $themeColor;
    font-weight: 600;
    margin-bottom: 0;
    strong {
      display: block;
      font-family: $fontBasic;
      font-size: 6rem;
      margin-right: 10px;
      margin-top: -20px;
      position: absolute;
      z-index: -1;
      right: -50px;
      top: -43px;
      user-select: none;
      font-weight: 800;
      color: rgba(0, 123, 255, 0.01);
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: rgba(0, 0, 0, 0.02);
    }
  }
  .createTime {
    font-size: 0.7rem;
    color: $mute;
  }
}

.recetPost {
  position: relative;
  p {
    font-size: 0.8rem;
    color: $mute;
  }
  > a {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
  }
}
