@import url("https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans&display=swap");
@import "./colors.scss";
@import "./fonts";

// local var
$cicleBorderWidth: 8px;
$circleBorderColor: rgba(255, 255, 255, 0.2);
$authorImageContentWidth: calc(100% + 16px);

body {
  margin: 0;
  font-family: $fontBasic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bodyBgColor;
  color: $bodyTextColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontScondary;
}

code {
  font-family: $fontScondary;
}
img {
  max-width: 100%;
}
// home page css

.heroArea {
  padding: 100px 5%;
  min-height: 400px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  .authorImageArea {
    .authorImage {
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        left: -$cicleBorderWidth;
        top: -$cicleBorderWidth;
        height: $authorImageContentWidth;
        width: $authorImageContentWidth;
        z-index: 9;
        border-radius: 50%;
        border: $cicleBorderWidth double $circleBorderColor;
        border-right-color: transparent;
        border-left-color: transparent;
        animation: rotatecontinues infinite 3s ease-in-out forwards;
      }
      img {
        overflow: hidden;
        animation: rotatey infinite 2s ease-in-out forwards;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        filter: blur(0px);
        transition: all 0.3s ease-in-out 0s;
        &:hover {
          filter: blur(3px);
        }
      }
    }
  }
  .heroContent {
    h2 {
      font-size: 4rem;
      text-transform: uppercase;
      text-shadow: 1px 8px 5px #fff;
      animation: shadowdeep 12s linear 0s infinite;
    }
    p {
      margin-top: 2rem;
      font-size: 1rem;
      line-height: 1.4rem;
      color: #e4d9d9;
      font-weight: 100;
      font-family: $fontScondary;
      // letter-spacing: 0.1rem;
      animation: shadow 1s ease-in-out 0s forwards;
    }
  }
}

@keyframes shadowdeep {
  0% {
    text-shadow: 1px 8px 50px #fff;
  }
  25% {
    text-shadow: 20px 0 15px #fff;
  }
  50% {
    text-shadow: -10px -10px 50px #fff;
  }
  90% {
    text-shadow: 10px 15px 15px #fff;
  }
  100% {
    text-shadow: 1px 8px 50px #fff;
  }
}

@keyframes shadow {
  0% {
    text-shadow: -4px 10px 10px #fff;
  }
  100% {
    text-shadow: 0 0 0 #fff;
  }
}

@keyframes rotatecontinues {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotatey {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
